{
  "Entries": [
    {
      "RequestUri": "/subscriptions/262ee2e8-4b86-4a3a-a29b-b547bc57412f/providers/Microsoft.HDInsight/locations/East%20US%202/billingSpecs?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"vmSizes\": [\r\n    \"A5\",\r\n    \"A6\",\r\n    \"A7\",\r\n    \"EXTRALARGE\",\r\n    \"EXTRASMALL\",\r\n    \"LARGE\",\r\n    \"MEDIUM\",\r\n    \"SMALL\",\r\n    \"STANDARD_A1_V2\",\r\n    \"STANDARD_A2_V2\",\r\n    \"STANDARD_A2m_V2\",\r\n    \"STANDARD_A4_V2\",\r\n    \"STANDARD_A4m_V2\",\r\n    \"STANDARD_A8_V2\",\r\n    \"STANDARD_A8m_V2\",\r\n    \"STANDARD_D1\",\r\n    \"STANDARD_D1_V2\",\r\n    \"STANDARD_D11\",\r\n    \"STANDARD_D11_V2\",\r\n    \"STANDARD_D12\",\r\n    \"STANDARD_D12_V2\",\r\[...]
