{
  "Entries": [
    {
      "RequestUri": "/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/resourceGroups/hdicsharprg7924/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions6110?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Spark\",\r\n      \"componentVersion\": {\r\n        \"Spark\": \"2.2\"\r\n      },\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin6865\",\r\n          \"restAuthCredential.password\": \"Password1!7782\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5670\",\r\n              \"password\": \"Password1!369\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5670\",\r\n              \"password\": \"Password1!369\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Small\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5670\",\r\n              \"password\": \"Password1!369\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage4106.blob.core.windows.net\",\r\n          \"isDefault\": true,\r\n          \"container\": \"default9151\",\r\n          \"key\": \"j71Gt88gInY+5XxR4vbGLZPWgyzkyY1QrTrC1C30HFKKZ2vsinQXlTaPIylkZH73WbmD+ozBUkp6C/R6QX3BrA==\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"759f5a1d-d9f8-4569-aa04-95734cd8a163\""
        ],
        "x-ms-hdi-matched-rule": [
          "ClusterResourcesAndSubResources"
        ],
        "x-ms-hdi-routed-to": [
          "RegionalRp"
        ],
        "x-ms-hdi-clusteruri": [
          "https://management.azure.com/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/resourceGroups/hdicsharprg7924/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions6110?api-version=2018-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/resourceGroups/hdicsharprg7924/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions6110/azureasyncoperations/create?api-version=2018-06-01-preview"
        ],
        "x-ms-hdi-served-by": [
          "eastus2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/resourceGroups/hdicsharprg7924/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions6110\",\r\n  \"name\": \"hdisdk-sparkcomponentversions6110\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"East US 2\",\r\n  \"etag\": \"759f5a1d-d9f8-4569-aa04-95734cd8a163\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.1000.3\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/spark-3.6.1000.3.1810270004.json\",\r\n      \"kind\": \"Spark\",\r\n      \"componentVersion\": {\r\n        \"Spark\": \"2.2\"\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5670\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5670\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a2_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5670\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2019-11-07T08:55:11.48\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 20\r\n    },\r\n    \"tier\": \"standard\",\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage4106.blob.core.windows.net\",\r\n          \"resourceId\": null,\r\n          \"msiResourceId\": null,\r\n          \"key\": null,\r\n          \"fileSystem\": null,\r\n          \"container\": \"default9151\",\r\n          \"saskey\": null,\r\n          \"isDefault\": true\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/resourceGroups/hdicsharprg7924/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions6110/azureasyncoperations/create?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-matched-rule": [
          "ClusterResourcesAndSubResources"
        ],
        "x-ms-hdi-routed-to": [
          "RegionalRp"
        ],
        "x-ms-hdi-served-by": [
          "eastus2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/resourceGroups/hdicsharprg7924/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions6110?api-version=2018-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/providers/Microsoft.HDInsight/locations/East%20US%202/operationresults/809626b1-8985-4fde-af3b-4ad125ddf435-0-r?api-version=2018-06-01-preview"
        ],
        "Retry-After": [
          "60"
        ],
        "x-ms-hdi-matched-rule": [
          "ClusterResourcesAndSubResources"
        ],
        "x-ms-hdi-routed-to": [
          "RegionalRp"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/providers/Microsoft.HDInsight/locations/East%20US%202/azureasyncoperations/809626b1-8985-4fde-af3b-4ad125ddf435-0-r?api-version=2018-06-01-preview"
        ],
        "x-ms-hdi-served-by": [
          "eastus2"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/providers/Microsoft.HDInsight/locations/East%20US%202/azureasyncoperations/809626b1-8985-4fde-af3b-4ad125ddf435-0-r?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-matched-rule": [
          "AsyncOperationsWithRegionalSuffix"
        ],
        "x-ms-hdi-routed-to": [
          "RegionalRp"
        ],
        "x-ms-hdi-served-by": [
          "eastus2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/75cc149a-fda5-4a8a-b1b5-f5e8ce659d55/providers/Microsoft.HDInsight/locations/East%20US%202/operationresults/809626b1-8985-4fde-af3b-4ad125ddf435-0-r?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-matched-rule": [
          "AsyncOperationsWithRegionalSuffix"
        ],
        "x-ms-hdi-routed-to": [
          "RegionalRp"
        ],
        "x-ms-hdi-served-by": [
          "eastus2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    ".ctor": [
      "admin6865",
      "Password1!7782",
      "sshuser5670",
      "Password1!369",
      "e7aedcc9-bd0f-4f34-a74d-5a24f9d51f98",
      "hdicsharprg7924",
      "hdicsharpstorage4106",
      "hdicsharpmsi8829",
      "hdicsharpvault4588",
      "hdicsharpadls8029",
      "default9151",
      "storageaccountkey7784"
    ],
    "TestInitialize": [
      "75cc149a-fda5-4a8a-b1b5-f5e8ce659d55"
    ],
    "TestCreateLinuxSparkClusterWithComponentVersion": [
      "hdisdk-sparkcomponentversions6110"
    ]
  },
  "Variables": {
    "SubscriptionId": "75cc149a-fda5-4a8a-b1b5-f5e8ce659d55"
  }
}
